<section
  class="pl-5 mt-[2rem] md:flex md:items-center md:gap-[3rem] md:mt-[4rem]"
>
  <div></div>
  <h3
    class="text-[2.5rem] md:text-[3rem] md:font-medium md:text-blue md:w-[300px]"
  >
    Soma Nakala Zetu
  </h3>
  <div class="md:w-[600px] md:ml-[5rem]">
    <article class="tracking-wide text-lg pt-2 md:text-[1.2rem]">
      Soma Nakala Zetu ili kujua kazi zetu, watu tuliowafikia na jinsi
      unavyoweza kufaidika nasi.
    </article>

    <a href="/blogs">
      <button
        class="bg-blue px-6 py-2 rounded-md text-white font-medium tracking-wider mt-3 md:mt-5 md:text-xl"
        >Blogs</button
      >
    </a>
  </div>
</section>
