---
import { Image } from "@astrojs/image/components";
---

<section
  class="pl-5 mt-[2rem] md:mt-[3.5rem] md:flex mf:justify-center md:items-center"
>
  <section class="md:flex md:justify-between">
    <div class="md:w-[600px] md:pl-[4rem]">
      <h3 class="text-[3rem] md:text-[3.5rem]">Faidika Nasi</h3>
      <article class="text-lg tracking-wider mt-3">
        Chota maarifa kutoka kwa wataalamu waliofanikiwa zaidi katika fani zao.
        Andaa maisha yako ya baadaye kwa mafunzo ya mtandaoni ambayo hutoa
        ustadi wa kiutendaji, wa kitaalam na katika maisha binafsi. Karibu
        ujifunze nasi, kidigitali zaidi.
      </article>
    </div>
    <div
      class="w-[350px] h-[400px] md:w-[500px] md:h-[400px] pt-7 md:pl-[5rem]"
    >
      <!-- <Image
        src="/hero2.png"
        alt="Hero Picture"
        width={500}
        height={400}
        aspectRatio="16:9"
        format="png"
        fit="cover"
      /> -->
      <img src="/hero2.png" class="object-cover" alt="hero-img" />
    </div>
  </section>
</section>
