---
import { Image } from "@astrojs/image/components";
const date = new Date().getFullYear();
const autoResponse =
  "Thank you for Contacting Chui Academy, a member from our team will contact you soon.";
---

<section class="mt-[4rem] md:mt-[10rem] bg-cyan" id="mawasiliano">
  <div class="flex flex-col items-center justify-center">
    <h3
      class="text-center text-lg md:text-[1.4rem] md:w-[700px] md:tracking-wider pt-5 text-white"
    >
      Jisajili kwenye jarida letu la kila mwezi
    </h3>

    <form action="https://formsubmit.co/chui@magofarm.co.rw" method="POST">
      <div class="flex flex-col gap-3 mt-5 md:w-[400px]">
        <input
          type="email"
          required
          placeholder="juma342@gmail.com"
          name="email"
          class="focus:outline-none text-gray-700 rounded-md px-3 py-3 md:py-2 md:rounded-md"
        />

        <button
          type="submit"
          class="bg-blue px-4 py-2 md:py-3 rounded-md cursor-pointer font-medium text-lg text-white"
          >Jiandikishe</button
        >
        <input
          type="hidden"
          name="_next"
          value="https://chui-sand.vercel.app"
        />
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_autoresponse" value={autoResponse} />
      </div>
    </form>

    <div
      class="flex flex-col md:flex-row items-center justify-center md:justify-between w-full mt-[2rem] text-gray-900 md:px-5 md:mt-[4rem] md:py-2"
    >
      <div class="flex flex-col md:flex-row items-center pt-[2rem] md:pt-0">
        <div class="w-[50px] h-[50px]">
          <Image
            src="/chui.png"
            width={60}
            height={60}
            alt="logo"
            aspectRatio={16 / 9}
            format="png"
            fit="cover"
            draggable={false}
          />
        </div>
        <h3 class="text-lg tracking-wider uppercase font-medium pl-5">
          Chui Academy
        </h3>
        <h3 class="text-center text-[1.2rem] font-medium md:pl-2">
          Dar es Salaam, Tanzania
        </h3>
      </div>

      <div>
        <footer class="mt-5 md:mt-0 text-center md:text-lg font-medium">
          All Right Reserved {date} Chui Academy.
        </footer>
      </div>
    </div>
  </div>
</section>
