<section
  class="bg-gradient-to-tl from-blue to-cyan pl-5 pt-5 mt-5 md:mt-[2rem] pb-5"
>
  <h3 class="text-white text-center text-3xl md:text-[2.2rem] font-regular">
    Read the reviews
  </h3>
  <div
    class="flex flex-col md:flex-row md:justify-around gap-5 md:gap-[2rem] mt-5 md:mt-[2rem]"
  >
    <div>
      <p class="text-[3rem] text-white h-12">"</p>
      <article class="tracking-wide w-[350px] text-gray-50 md:w-[300px]">
        Mfumo Hutoa vipengele sahihi na muhimu vya kufuatilia na kuripoti,kama
        vile ripoti za maendeleo na matokeo ya maswali
      </article>
      <p class="pt-2 text-lg font-medium text-gray-200">Juma Hassan</p>
    </div>

    <div>
      <p class="text-[3rem] text-white h-12">"</p>
      <article class="tracking-wide w-[350px] text-gray-50 md:w-[300px]">
        Kuna fursa kwa wanafunzi kushirikiana na kuwasiliana na wenzao na
        wakafunzi
      </article>
      <p class="pt-2 text-lg font-medium text-gray-200">Kelvin Materu</p>
    </div>

    <div>
      <p class="text-[3rem] text-white h-12">"</p>
      <article class="tracking-wide w-[350px] text-gray-50 md:w-[300px]">
        Nyenzo zilizowasilishwa kwa njia ya kuvutia na rahisi kuelewa
      </article>
      <p class="pt-2 text-lg font-medium text-gray-200">Neema Mboye</p>
    </div>
  </div>
</section>
