---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/chui.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500;900&family=Montserrat:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <meta
      name="keywords"
      content="Mafunzo, elimu, mafunzo ya kidigitali, Chui Academy"
    />

    <meta
      property="og:description"
      content="Pakua App yetu kutoka App store na Play Store na uendelee kupata mafunzo"
    />
    <meta property="og:title" content="Chui Academy" />
    <meta property="og:image" content="/seo.png" />

    <meta property="og:url" content="https://chui-sand.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Chui Academy" />
    <meta
      property="og:description"
      content="Pakua App yetu kutoka App store na Play Store na uendelee kupata mafunzo"
    />
    <meta
      property="description"
      content="Pakua App yetu kutoka App store na Play Store na uendelee kupata mafunzo"
    />
    <meta content="@vercel" name="twitter:site" />
    <meta property="og:image" content="/seo.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="https://chui-sand.vercel.app/" />
    <meta name="twitter:url" content="https://chui-sand.vercel.app/" />
    <meta name="twitter:title" content="Chui Academy" />
    <meta
      name="twitter:description"
      content="Pakua App yetu kutoka App store na Play Store na uendelee kupata mafunzo"
    />

    <meta name="twitter:image" content="/seo.png" />

    <meta name="description" content="Piga Hatua kimasomo na Chui Academy " />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="font-montserrat overflow-x-hidden">
    <slot />
  </body>
</html>
